:root {
  --pink: #A80CCF;
  --blue: #2308CF;
  --black: rgb(19, 17, 17);
  --mat-black: rgb(25, 27, 40);
  --menu-box-black: rgb(7, 10, 26);
  --border: rgb(42, 43, 56);
  --darkgrey: #1b1b1b;
  --grey: rgb(107, 104, 104);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--mat-black);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}